@mixin btn1(){
    text-decoration:none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius:10px;
height: 28px;
background-color: rgb(255, 255, 255);
text-align: center;
}

.btn1{
    @include btn1;
}

li{
    text-align: center;
    padding: 10px 6px 7px 8px;
}